body{
  background:linear-gradient(to top right, #8E9FED, #94C0F7);
  display:flex;
  flex-direction:column;
}
.h1_princ{
  font-size:40px;
  font-family:"arial black";
  color:#8EEDD6;
  text-shadow: 5px 5px 8px rgba(66, 68, 90, 1);
}
